*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 40px;
}
.card__left-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin-left:600px ;

    & h1 span{
        color: rgb(206, 132, 132);
    }

    h3{
        margin-left: 150px;
    }
    
    a{
        font-size: 20px;
        color: white;
        background-color:#3751ff;
        padding: 15px;
        text-decoration: none;
        border-radius:200px ;
        margin-left: 50px;

    }
} 

 .card__box-2{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 160px;
     font-size: 33px;
     flex-direction: column;
}
.card__link{
    margin-left: 1000px;
    width: 400px;
    margin-top: 50px;
    font-size: 20px;
    a{
        font-size: 20px;
        color: white;
        background-color:#3751ff;
        padding: 15px;
        text-decoration: none;
        border-radius:200px ;
    }    
}
.img__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.card__btn{
    margin-left: 1250px;
    width: 400px;
    margin-top: 50px;
    font-size: 20px;
    margin-top: -25px;
   a{
    font-size: 20px;
    color:black;
    box-shadow:4px 3px 5px 2px;
    padding: 15px;
    text-decoration: none;
    border-radius:200px ;
   }
}
.card__new{
    background-color: rgb(246, 242, 242);
}